<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Movie Title Searcher</title>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <input
      id="query"
      name="q"
      type="text"
      autofocus
      autocomplete="off"
      placeholder="Movie"
    />

    <ul id="movie-list"></ul>
  </body>
</html>
